<!-- Existing HTML removed for brevity -->
<a class="nav-item router-link-active" routerLink="/prompt">
        <span class="nav-icon"><svg version="1.1" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke="currentColor" stroke-width="2" fill="none" d="M12 2C6.5 2 2 6.5 2 12c0 5.5 4.5 10 10 10s10-4.5 10-10C22 6.5 17.5 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path></svg></span> Prompt
          </a>
<a class="nav-item router-link-active" routerLink="/test">
          <span class="nav-icon"><svg version="1.1" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke="currentColor" stroke-width="2" fill="none" d="M5 5v14M5 5l7 7 7-7M7 5l6 6 6-6Z"></path></svg></span> Test
          </a>