<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home" [routerLinkActive]="nav-active">
    <span class="nav-icon fa fa-home"></span> Home
  </a>
  <a class="navbar-brand" routerLink="/login">
    <span class="nav-icon fa fa-sign-in"></span> Login
  </a>
  <a class="navbar-brand" routerLink="/register">
    <span class="nav-icon fa fa-user"></span> Register
  </a>
  <a class="navbar-brand" routerLink="/forgot-password">
    <span class="nav-icon fa fa-lock"></span> Forgot Password
  </a>
  <a class="navbar-brand" routerLink="/test-item" *ngIf="false">
    <span class="nav-icon fa fa-undo"></span> Test Item
  </a>
  <a class="navbar-brand" routerLink="/profile">
    <span class="nav-icon fa fa-user"></span> Profile
  </a>
  <a class="navbar-brand" routerLink="/settings">
    <span class="nav-icon fa fa-cog"></span> Settings
  </a>
</nav>