<nav mat-tab-nav-bar class="layout-sidebar"
  [variant]="variant"
  color="color"
  [selected]="selectedTab"
  [matTabRouteLinks]="tabs">
  <button mat-tab-link *ngFor="let tab of tabs"
    [disabled]="!tab.disabled"
    [routerLink]="tab.routerLink"
    [active]="tab.active">
    <ng-container *ngIf="tab.icon">
              <mat-icon>{{ tab.icon }}</mat-icon>
              <span class="nav-icon">&nbsp;{{ tab.name }}</span>
            </ng-container>
    {{ tab.name }}
  </button>
</nav>
<button mat-icon-button *ngIf="!selectedTab" (click)="selectFirstTab()">
  <mat-icon>first_page</mat-icon>
</button>
<button mat-icon-button *ngIf="selectedTab !== tabs.last" (click)="selectNextTab()">
  <mat-icon>chevron_right</mat-icon>
</button>
<button mat-icon-button *ngIf="selectedTab !== tabs.first" (click)="selectPrevTab()">
  <mat-icon>chevron_left</mat-icon>
</button>
