<nav class="flex flex-grow bg-white p-4 border-b border-gray-200 shadow-sm">
  <ul class="flex flex-grow -mb-px justify-center">
    <li class="mx-2">
      <a [routerLink]="" routerLinkActive="router-link-active" class="p-1 pb-2 text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" aria-current="false"><i class="nav-icon material-icons">home</i></a>
    </li>
    <li class="mx-2">
      <a [routerLink]="" routerLinkActive="router-link-active" class="p-1 pb-2 text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" aria-current="false"><i class="nav-icon material-icons">people</i></a>
    </li>
    <li class="mx-2">
      <a [routerLink]="" routerLinkActive="router-link-active" class="p-1 pb-2 text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" aria-current="false"><i class="nav-icon material-icons">assignment</i></a>
    </li>
    <li class="mx-2">
      <button class="p-1 pb-2 text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" style="background-image:url(/assets/logo.png);" (click)="openSidebar()">
        <i class="nav-icon material-icons">account_circle</i>
      </button>
    </li>
    <li class="mx-2">
      <button class="p-1 pb-2 text-sm text-gray-600 hover:text-gray-900 rounded-md focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" style="background-image:url(/assets/test.png);" (click)="openSidebar()">
        <i class="nav-icon material-icons">test</i>
      </button>
    </li>
  </ul>
</nav>