<div class="container-fluid"><div class="row"><div *ngIf="isEdit"  class="col-6"><!-- edit form Card here--></div><div class="col-6"><div *ngIf="isPromptEdit" class="p-1">  <div class="card card-body bg-white p-2 mb-2 rounded">  </div>    </div><!-- edit button here -->
<div *ngIf="!isPromptEdit">  <div class="card card-body bg-white p-2 mb-2 rounded"><button class="btn btn-primary" (click)="editButton()" [disabled]="isPromptEdit ||!canAddUser" type="button"><i class="fas fa-plus"></i> Prompt</button>
  </div>
  </div></div></div>

<div class="container-fluid"><div class="row"><div class="col-6">
 <!-- edit form Card here -->
</div><div class="col-6"><div *ngIf="!isEdit">  <div class="card card-body bg-white p-2 mb-2 rounded"><button class="btn btn-primary" (click)="saveButton()" [disabled]="!canAddUser" type="button"><i class="fas fa-file-contract"></i> Prompt</button></div></div>
<!-- edit button here -->
</div></div></div>